<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/headerstyle.css">
</head>
<body>
    <header class="header-container">
        <div class="header-nav">
            <div class="nav-left">
                <a href="/">
                  <button class="header-button">Home</button>
                </a>

                <div class="dropdown">
                  <button class="header-button dropbtn" id="inventory-dropdown-btn">Inventory</button>
                  <div class="dropdown-content" id="inventory-dropdown-content">
                    <a href="/entry">View Inventory</a>
                    <a href="/consume">Consume</a>
                  </div>
                </div>

                <a href="/upload">
                  <button class="header-button">Upload Inventory</button>
                </a>

                <a href="/history">
                  <button class="header-button">History</button>
                </a>
            </div>

            <div class="nav-center">
                <h1 class="header-title">VFP Inventory</h1>
            </div>

            <div class="nav-right">
                <div class="dropdown">
                  <button class="header-button dropbtn" id="order-dropdown-btn">Order</button>
                  <div class="dropdown-content" id="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    <a href="#">Link 4</a>
                  </div>
                </div>

                <button class="header-button">Location</button>

                <a href="/registration">
                  <button class="header-button">Registration</button>
                </a>

                <% if (!isLoggedIn) { %>
                  <a href="/login">
                    <button class="header-button-login">Log In</button>
                  </a>
                <% } %>

                <% if (isLoggedIn) { %>
                  <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="header-button-logout">Log Out</button>
                  </form>
                <% } %>
            </div>
        </div>
    </header>

          

    <!-- <br> -->


    <%- body %>


    <br>

    <footer class="page-footer">
        <h5>Some copyright or Company logo stuff!!</h5>
    </footer>

    <script src="/dropdown.js"></script>
</body>
</html>