
<head>
    <link rel="stylesheet" href="/dashboardstyle.css">
</head>



<table class="inventoryTable">
    <tr>
        <th>Date</th>
        <th>Vendor</th>
        <th>Items</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>TEST</td>
        <td>TEST2</td>
        <td>TEST3</td>
        <td>45</td>
    </tr>
</table>



<table class="ordersTable">
    <tr>
        <th>Date</th>
        <th>Vendor</th>
        <th>Items</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>TEST</td>
        <td>TEST2</td>
        <td>TEST3</td>
        <td>45</td>
    </tr>
</table>