<link rel="stylesheet" href="/homepagestyle.css">
<body>
<h1 class="titleWording">Welcome to the Inventory Manager</h1>


<img class="homepageBackground" src="/Laboratory-Design.jpg" alt="Laboratory Design">



</body>


