
    <link rel="stylesheet" href="/loginstyle.css">
    <title> New User Registration</title>
</head>

<body>
<div class="registration-container">
   <div class="registrationForm">

        <h1 class="header2">Register New User</h1>

            <form action="/registration" method="POST">
               <input type="hidden" name="_csrf" value="<%= csrfToken %>">

               <input 
                  type="email" 
                  name="email" 
                  placeholder="email" 
                  autocomplete="off" 
                  class="email" 
                  required
               >
               <input 
                  type="password" 
                  name="password" 
                  placeholder="password" 
                  autocomplete="off" 
                  class="password" 
                  required
               >
               <button 
                  class="submit" 
                  type="submit">Register
               </button>

            </form>
   </div>
</div>

</body>
