
<title> New User Registration</title>
</head>

<body>
   <div  class="registrationForm">

        <h1 class="header1">Register New User</h1>

            <form action="/registration" method="POST">

               <input 
                  type="email" 
                  name="email" 
                  placeholder="email" 
                  autocomplete="off" 
                  class="email" 
                  required
               >
               <input 
                  type="password" 
                  name="password" 
                  placeholder="password" 
                  autocomplete="off" 
                  class="password" 
                  required
               >
               <button 
                  class="submit" 
                  type="submit">Register
               </button>

            </form>
   </div>

</body>
