.dropdown {
    position: relative;
    display: inline-block;
}

#dropbtn {
    cursor: pointer;

}

.menulist {
    display: inline-block;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.LoginLogoutButtons {
    display: block;
    float: right;
    transform: translateX(-5px);
}
